{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "none",
  "printWidth": 110,
  "arrowParens": "always",
  "useTabs": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": false
}
